In [1]:
import pandas as pd
df = pd.read_csv('TaxiFlota.csv' , encoding = 'latin-1', sep = ";")
df.head(10)

,Código,Matrícula,Fecha Matriculación,Marca,Modelo,Tipo,Variante,Clasificación medioambiental,Combustible,Cilindrada,Potencia,Número de Plazas,Fecha inicio de prestación del servicio de taxi,Eurotaxi,Régimen Especial de Eurotaxi,Fecha inicio Régimen Especial Eurotaxi,Fecha fin Régimen Especial Eurotaxi,Fecha
0,1020144,2239DTJ,13/12/2005,SKODA,OCTAVIA,NaN,NaN,NaN,DIESEL,0,12.00,NaN,16/12/2005,NO,NO,NaN,NaN,30/07/2018
1,550040,8901GJP,21/11/2008,SKODA,OCTAVIA,NaN,NaN,NaN,DIESEL,0,12.00,NaN,11/12/2008,NO,NO,NaN,NaN,30/07/2018
2,550016,6364FVW,14/12/2007,SEAT,TOLEDO,NaN,NaN,NaN,DIESEL,0,12.00,NaN,18/11/2008,NO,NO,NaN,NaN,30/07/2018
3,550115,4249GST,08/01/2010,SKODA,OCTAVIA,NaN,NaN,NaN,DIESEL,0,12.00,NaN,14/01/2010,NO,NO,NaN,NaN,30/07/2018
4,550142,1561GVY,27/04/2010,SKODA,OCTAVIA,NaN,NaN,NaN,DIESEL,0,12.00,NaN,01/03/2010,NO,NO,NaN,NaN,30/07/2018
5,550214,6296HBZ,28/02/2011,SKODA,OCTAVIA,1Z,AACAYCX01/NFM5,NaN,DIESEL,0,11.64,NaN,03/08/2012,NO,NO,NaN,NaN,30/07/2018
6,550241,9097GYH,16/08/2010,VOLKSWAGEN,PASSAT,3C,AACBBBX0/FM6FM6*******,NaN,DIESEL,0,13.00,NaN,10/01/2013,NO,NO,NaN,NaN,30/07/2018
7,550244,3091HJM,29/02/2012,PEUGEOT,508,8,8D9HRB/PS,NaN,DIESEL,0,82.00,NaN,23/08/2013,NO,NO,NaN,NaN,30/07/2018
8,1198109,0800GZC,18/10/2010,CHEVROLET,EPICA,KLAL,LV3/134,B,DIESEL,1991,110.00,5,25/10/2010,NO,NO,NaN,NaN,30/07/2018
9,1196804,7686GYS,23/09/2010,CHEVROLET,EPICA,KLAL,LV1/111,C,GASOLINA TRANSFORMADO GLP,1993,105.00,5,04/10/2010,NO,NO,NaN,NaN,30/07/2018

In [2]:
# 1. Renombrar columnas 
# 1.1 Cambiar los títulos a minúsculas

df.columns = df.columns.str.lower()
df

# 1.2 Quitar tildes y espacios

df = df.rename(columns={'código':'codigo',
                   'matrícula':'matricula',
                   'fecha matriculación':'fecha_matriculacion',
                   'Clasificación medioambiental':'clasificacion_medioambiental', 
                   'número de plazas':'numero_plazas',
                   'fecha inicio de prestación del servicio de taxi':'fecha_inicio', 
                   'régimen especial de eurotaxi':'regimen_eurotaxi', 
                   'fecha inicio régimen especial eurotaxi':'fecha_inicio_eurotaxi', 
                   'fecha fin régimen especial eurotaxi':'fecha_fin_eurotaxi'})

# 2. Convertir variables
# 2.1 Inspeccionar el tipo de variables

df.dtypes

codigo                            int64
matricula                        object
fecha_matriculacion              object
marca                            object
modelo                           object
tipo                             object
variante                         object
clasificación medioambiental     object
combustible                      object
cilindrada                        int64
potencia                        float64
numero_plazas                    object
fecha_inicio                     object
eurotaxi                         object
regimen_eurotaxi                 object
fecha_inicio_eurotaxi            object
fecha_fin_eurotaxi               object
fecha                            object
dtype: object

In [3]:
## 2.2 Identificar las variables a cambiar
# codigo -> object
df.codigo = df.codigo.astype('object')

In [4]:
# matricula - > OK

In [5]:
# fecha_matriculación -> date

from datetime import date, datetime
import re
formato = '%d/%m/%Y'

def parsea_fecha(fecha):
    try:
        a = datetime.strptime(fecha,formato)
        return a
    except:
        return None

df.fecha_matriculacion = df.fecha_matriculacion.apply(parsea_fecha)

In [6]:
# marca -> OK

In [7]:
# modelo -> OK

In [8]:
# tipo -> OK

In [9]:
# variante -> OK

In [10]:
# clasificacion_medioambiental -> ordinal

In [11]:
# combustible -> OK

In [12]:
# cilindrada -> OK

In [13]:
# potencia -> float

def a_numero(numero):
    try:
        a = pd.to_numeric(numero)
        return a
    except:
        return None

df.potencia = df.potencia.apply(a_numero)

In [14]:
# numero_plazas -> int

# num_plazas se puede crear una nueva columna que ponga el número de plazas para mobilidad reducida y
# luego añadir una columna con numero de plazas total

In [15]:
# fecha_inicio -> date
df.fecha_inicio = df.fecha_inicio.apply(parsea_fecha)

In [39]:
# eurotaxi -> obj
df.eurotaxi = df.eurotaxi.replace('SI', '1')
df.eurotaxi = df.eurotaxi.replace('NO', '0')

In [40]:
# regimen_eurotaxi -> obj
df.regimen_eurotaxi = df.regimen_eurotaxi.replace('SI','1')
df.regimen_eurotaxi = df.regimen_eurotaxi.replace('NO','0')

In [42]:
# fecha_inicio_eurotaxi -> date
df.fecha_inicio_eurotaxi= df.fecha_inicio_eurotaxi.apply(parsea_fecha)

In [43]:
# fecha_fin_eurotaxi -> date
df.fecha_fin_eurotaxi = df.fecha_fin_eurotaxi.apply(parsea_fecha)

In [44]:
# fecha -> date
df.fecha = df.fecha.apply(parsea_fecha)

In [45]:
df.dtypes

codigo                                  object
matricula                               object
fecha_matriculacion             datetime64[ns]
marca                                   object
modelo                                  object
tipo                                    object
variante                                object
clasificación medioambiental            object
combustible                             object
cilindrada                               int64
potencia                               float64
numero_plazas                           object
fecha_inicio                    datetime64[ns]
eurotaxi                                object
regimen_eurotaxi                        object
fecha_inicio_eurotaxi                   object
fecha_fin_eurotaxi                      object
fecha                                   object
dtype: object

In [ ]:
# 0, Eco, C, B
df['Clasificación medioambiental'].value_counts()